# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environments
venv/
.env/

# IDE/editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# System files
.DS_Store
Thumbs.db

# Assets
assets/sounds/*
assets/voices/*
assets/visuals/*

# Logs and temp
*.log
*.tmp
